.header {
    width: 100%;
    padding: 0 30px;
    justify-content: space-between;
    text-align: center;
    height: 73px;
    display: inline-flex !important;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
.welcome-section {
    margin-top: 9px;
}